@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

/* @import url('https://fonts.googleapis.com/css2?family=Mina&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap'); */

* {
    margin: 0;
    padding: 0;
}

body {
    background: url('./rps2.jpg');
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
}

nav {
    background-color: gray;
    height: 33px;
    width: 100vw;
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

li {
    list-style: none;
    color: aliceblue;
    font-family: 'Orbitron', sans-serif;
    padding: 0px 8px;
}

#result,
#cpu,
#user {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-family: cursive;
    padding-left: 22px;
    background-color: #c0bfd1;
    color: #4a0404;
    ;
}

.container {
    height: 300px;
    display: flex;
    /* margin-top: 100px; */
    justify-content: space-around;
    align-items: center;
}

.lebel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.lebel p {
    font-size: 23px;
    color: beige;
}

#cpu,
#user {
    height: 91px;
    width: 114px;
    border-radius: 44px;
}

#result {
    height: 91px;
    width: 330px;
    border-radius: 44px;
}

.game_btn {
    height: 45px;
    width: 100%;
    margin-top: 175px;
    display: flex;
    justify-content: space-around;
}

.btn {
    height: 45px;
    width: 116px;
    font-size: 25px;
    font-family: cursive;
    cursor: pointer;
    border-radius: 14px;
    background-color: #c0bfd1;
}

.btn:hover {
    background-color: rgb(62, 118, 201);
    color: white;
}

.reset {
    display: flex;
    justify-content: center;
    margin-top: 34px;
}

#reset {
    height: 45px;
    width: 116px;
    font-size: 25px;
    font-family: cursive;
    cursor: pointer;
    border-radius: 14px;
    background-color: #ff0303;
    color: whitesmoke;
}

#reset:hover {
    background-color: wheat;
    color: rgb(255, 0, 0);
}

@media screen and (max-width: 900px) {
    body {
        background-image: url(./rps_mobile.jpg);
        background-size: 100vw;
    }
    #result {
        height: 41px;
        width: 80px;
        padding-left: 2px;
        border-radius: 7px;
        font-size: 11px;
        font-family: cursive;
        box-shadow: 0px 8px 10px -4px #e5c6c6;
    }
    #cpu,
    #user {
        height: 41px;
        width: 44px;
        padding-left: 2px;
        border-radius: 7px;
        font-size: 11px;
        font-family: cursive;
        box-shadow: 0px 8px 10px -4px #e5c6c6;
    }
    .lebel p {
        font-size: 9px;
        color: beige;
    }
    .game_btn {
        margin-top: 118px;
    }
    .btn {
        height: 35px;
        width: 66px;
        font-size: 15px;
        border-radius: 14px;
    }
    #reset {
        height: 35px;
        width: 66px;
        font-size: 15px;
        border-radius: 14px;
    }
}